.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: clamp(60%, 500px, 90%);
  margin: auto;
  padding-bottom: 20px;
}

.animate > button > div {
  /* div for animation, its backround is moving and filling the button */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(var(--red));
  -webkit-animation-name: timeOut;
  animation-name: timeOut;
  /* animation-duration: 5s; */ /* this will be written with inline css */
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  transform-origin: left;
}

@-webkit-keyframes timeOut {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes timeOut {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
