/* bug on firefox: 
  on mozilla website: https://bugzilla.mozilla.org/show_bug.cgi?id=1673454
  on github: https://github.com/mozilla-mobile/fenix/issues/16173
  on stackoverflow: https://stackoverflow.com/questions/64530403/button-in-fixed-position-div-disappears-when-updated-via-javascript-only-occurs
  */

.fabsContainer {
  position: fixed;
  bottom: 16px;
  width: 100%;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}

.settings {
  position: fixed;
  bottom: 16px;
  right: calc(16px + 48px + 16px);
}
