.btn {
  position: absolute;
  bottom: 0px;
  right: calc(
    56px - 4px + 16px
  ); /* 56px for the first button, 16px for margin */
  transition: right 0.6s ease-in-out;
  pointer-events: auto;
}

.rightPosition {
  right: 4px; /* 4px for extra margin, the container has a margin of 12 from the settings Fab. so overall margin of 16 */
}
