.btn {
  width: 56px;
  margin-left: 13px;
}

.action {
  background-color: rgb(var(--secondary));
  color: rgb(var(--text));
}

.selected {
  background-color: rgb(var(--red));
}

.action:hover {
  transition: background-color 0.4s ease-in-out;
  background-color: rgba(var(--red), 0.5);
}

.selected:hover {
  background-color: rgb(var(--red));
}
