.btn {
  position: absolute;
  bottom: 0;
  right: 0; /* even though the right is 0, it won't be completely on the right of the container, because of some padding (4px on each side) in the button */
  transition: right 0.6s ease-in-out, opacity 1.4s ease-in-out; /* this traisiton will apply when the element is added */
}

.hide {
  transition: right 0.6s ease-in-out, opacity 0.3s ease-in-out; /* this traisiton will apply when the element is removed */
  right: -66px;
  opacity: 0;
}

.action {
  background-color: rgb(var(--secondary));
}

.selected {
  background-color: rgb(var(--red));
}

.action:hover {
  transition: background-color 0.4s ease-in-out;
  background-color: rgba(var(--red), 0.5);
}

.selected:hover {
  background-color: rgb(var(--red));
}

.text {
  text-transform: none;
  font-weight: lighter;
  color: rgb(var(--text));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
